.venv/
*.egg-info/
__pycache__/
output/
.vscode/
.gitignore
.DS_Store
.ruff_cache/
node_modules/
dist/

# Large model files
*.pth.filepart
**/pytorch_model.bin
**/Models/**/*.pth
**/Models/**/*.filepart